# Capstone Two - Pre-processing and Training Data Development

## Imports

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

## Load the data from EDA

In [2]:
car_data = pd.read_csv('car_dataeda.csv')
car_data.head()

,Unnamed: 0,Price,Year,Mileage,City,State,Vin,Make,Model,Age
0,0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed,8
1,1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed,9
2,2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed,9
3,3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed,8
4,4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic,6

In [3]:
car_data.drop(car_data.columns[[0]],axis=1, inplace=True)
car_data.drop(car_data[['Vin']], axis=1, inplace= True)
car_data

        Price  Year  Mileage              City State   Make         Model  Age
0        8995  2014    35725           El Paso    TX  Acura    ILX6-Speed    8
1       10888  2013    19606  Long Island City    NY  Acura    ILX5-Speed    9
2        8995  2013    48851           El Paso    TX  Acura    ILX6-Speed    9
3       10999  2014    39922           Windsor    CO  Acura    ILX5-Speed    8
4       14799  2016    22142            Lindon    UT  Acura  ILXAutomatic    6
...       ...   ...      ...               ...   ...    ...           ...  ...
852087  63215  2017        9       Culver City    CA  Volvo         S90T6    5
852088  72260  2017     3201         Englewood    NJ  Volvo        XC90T6    5
852089  55999  2016    28941      Fort Collins    CO  Volvo       XC90AWD    6
852090  60240  2017     3005       San Leandro    CA  Volvo           V90    5
852091  76995  2017     2502          New York    NY  Volvo        XC90T8    5

[852092 rows x 8 columns]

## Deal with categorical features

In [4]:
cf = car_data.select_dtypes('object')
nf = car_data.select_dtypes('int64')

In [5]:
le = LabelEncoder()
columns = cf.columns
for column in cf[columns]:
    cf[column] = le.fit_transform(cf[column])

/var/folders/kp/98k1k1ln0nq8s1cwdk0882q80000gn/T/ipykernel_82000/1370919575.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cf[column] = le.fit_transform(cf[column])

In [6]:
car_data = pd.concat([nf,cf],axis = 1)
car_data

        Price  Year  Mileage  Age  City  State  Make  Model
0        8995  2014    35725    8   646     43     1   1194
1       10888  2013    19606    9  1260     34     1   1193
2        8995  2013    48851    9   646     43     1   1194
3       10999  2014    39922    8  2490      5     1   1193
4       14799  2016    22142    6  1231     44     1   1196
...       ...   ...      ...  ...   ...    ...   ...    ...
852087  63215  2017        9    5   505      4    56   2034
852088  72260  2017     3201    5   677     31    56   2570
852089  55999  2016    28941    6   761      5    56   2564
852090  60240  2017     3005    5  2006      4    56   2404
852091  76995  2017     2502    5  1568     34    56   2571

[852092 rows x 8 columns]

## Split data into training and testing subsets

In [7]:
X = car_data.drop('Price',axis=1).values
y = car_data['Price'].values

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,  test_size = 0.2, random_state=42)

## Standardization

In [9]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train) 
X_test_scaled = scaler.fit_transform(X_test)
print(np.mean(X), np.std(X))
print(np.mean(X_train_scaled), np.std(X_train_scaled))

8155.841970954176 24091.810094451565
4.487276917356523e-15 1.000000000000471

## Saving the file

In [10]:
car_data.to_csv('car_datapre.csv')